@font-face {
    font-family: Roboto-Black;
    src: url(Roboto-Black.ttf);
}

@font-face {
	font-family: Roboto-BlackItalic;
    src: url(Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(Roboto-Bold.ttf);
}

@font-face {
	font-family: Roboto-BoldItalic;
    src: url(Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: Roboto-Italic;
    src: url(Roboto-Italic.ttf);
}

@font-face {
	font-family: Roboto-Light;
    src: url(Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto-LightItalic;
    src: url(Roboto-LightItalic.ttf);
}


@font-face {
	font-family: Roboto-MediumItalic;
    src: url(Roboto-MediumItalic.ttf);
}

@font-face {
	font-family: Roboto-Regular;
    src: url(Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto-Thin;
    src: url(Roboto-Thin.ttf);
}

@font-face {
	font-family: Roboto-ThinItalic;
    src: url(Roboto-ThinItalic.ttf);
}


div {
    font-family: Roboto-Black;
}

div {
	font-family: Roboto-BlackItalics;
}

div {
    font-family: Roboto-Bold;
}

div {
	font-family: Roboto-BoldItalic;
}

div {
    font-family: Roboto-Italic;
}

div {
	font-family: Roboto-LightItalic;
}

div {
    font-family: Roboto-Medium;
}

div {
	font-family: Roboto-MediumItalic;
}

div {
    font-family: Roboto-Regular;
}

div {
	font-family: Roboto-Thin;
}

div {
	font-family: Roboto-ThinItalic;
}

body {
    font-family: "Roboto-Thin", sans-serif;
    
}

h1 {
    font-family: "Roboto-Regular", sans-serif;
    color: white;
}

h2 {
    font-family: "Roboto-Thin", sans-serif;
    color: white;
}

h4 {
    font-family: "Roboto-Thin", sans-serif;
    color: white;
}


p {
    font-family: "Roboto-Thin", sans-serif;
    font-size: 16px;
    color: white;
}


body {
    background-color: #343a40;
} 

/* Footer*/
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }

footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:100px; 
  background: #202225;
}

.tablefont {
    font-family: "Roboto-Thin", sans-serif;
    font-size: 16px;
    color: black;
}


label{ cursor:pointer; display:inline-block; transition:1s ease; }
:checked ~ label{ margin-bottom:1400px; }

article{ width:40%; margin:0 auto; color:#444; };

/* unvisited link */
a:link {
    color: rgb(255, 255, 255);
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

