@font-face {
    font-family: Roboto-Black;
    src: url(Roboto-Black.ttf);
}

@font-face {
	font-family: Roboto-BlackItalic;
    src: url(Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(Roboto-Bold.ttf);
}

@font-face {
	font-family: Roboto-BoldItalic;
    src: url(Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: Roboto-Italic;
    src: url(Roboto-Italic.ttf);
}

@font-face {
	font-family: Roboto-Light;
    src: url(Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto-LightItalic;
    src: url(Roboto-LightItalic.ttf);
}


@font-face {
	font-family: Roboto-MediumItalic;
    src: url(Roboto-MediumItalic.ttf);
}

@font-face {
	font-family: Roboto-Regular;
    src: url(Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto-Thin;
    src: url(Roboto-Thin.ttf);
}

@font-face {
	font-family: Roboto-ThinItalic;
    src: url(Roboto-ThinItalic.ttf);
}


div {
    font-family: Roboto-Black;
}

div {
	font-family: Roboto-BlackItalics;
}

div {
    font-family: Roboto-Bold;
}

div {
	font-family: Roboto-BoldItalic;
}

div {
    font-family: Roboto-Italic;
}

div {
	font-family: Roboto-LightItalic;
}

div {
    font-family: Roboto-Medium;
}

div {
	font-family: Roboto-MediumItalic;
}

div {
    font-family: Roboto-Regular;
}

div {
	font-family: Roboto-Thin;
}

div {
	font-family: Roboto-ThinItalic;
}

body {
    font-family: "Roboto-Thin", sans-serif;
}

h1 {
    font-family: "Roboto-Regular", sans-serif;
    color: white;
}

h2 {
    font-family: "Roboto-Thin", sans-serif;
    color: white;
}


p {
    font-family: "Roboto-Thin", sans-serif;
}


body {
    background-color: #343a40;
} 


/* Footer*/
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }

footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:100px; 
  background: #202225;
}


label{ cursor:pointer; display:inline-block; transition:1s ease; }
:checked ~ label{ margin-bottom:1400px; }

article{ width:40%; margin:0 auto; color:#444; };

/* unvisited link */
a:link {
    color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
    color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
    color: #f5a3fa;
}

/* selected link */
a:active {
    color: #f5a3fa;
}


